name: Manual Test

on:
  workflow_dispatch:
    inputs:
      message:
        description: "Test message"
        required: true
        default: "hello"

jobs:
  manual:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.event.inputs.message }}"
